@import "../../node_modules/s360-fundamental-toolkit/scss";

$fa-font-path: "../../fontawesome-subset/webfonts" !default;
@import "../../fontawesome-subset/scss/fontawesome";
@import "../../fontawesome-subset/scss/regular";


@import "./components";
