{%
  set classes = [
    'layout',
    'layout--accordion',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {% if content.header %}
        <details class="layout__details">
          <summary class="layout__summary">{{ content.header }}</summary>
      {% endif %}

      <div class="layout__regions">
        <div {{ region_attributes.content }} class="layout__region layout__region--content">
          {% for item in content.content %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% if content.header %}
        </details>
      {% endif %}
    </div>
  </div>
{% endif %}
