{%
  set classes = [
    'layout',
    'layout--accordion',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {% if content['#summary'] %}
        <details class="layout__details">
          {{ content['#summary'] }}
      {% endif %}

      {% include "@s360_layout_builder/component/layout-regions.twig" with {
        layout_regions_content: content,
        layout_regions_region_attributes: region_attributes
      } %}

      {% if content['#summary'] %}
        </details>
      {% endif %}
    </div>
  </div>
{% endif %}
