{%
  set classes = [
    'layout',
    'layout--one-column',
  ]
%}
{% if content %}
  <section{{ attributes.addClass(classes) }}>
    <div class="layout__content">
      {{ content.header }}

      <div class="layout__regions">
        <div {{ region_attributes.content }} class="layout__region layout__region--content">
          {% for item in content.content %}
            {% if item %}
              <div class="layout__region-item">{{ item }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
