.field--widget-layout-paragraphs {
  @import "./layout-paragraphs-actions";
  @import "./layout-paragraphs-layout";
  @import "./layout-paragraphs-layout-region";
  @import "./layout-paragraphs-item";
  @import "./layout-paragraphs-add-more-menu";

  // Force the field to be block rather than a table-cell.
  .layout-paragraphs-field {
    display: block !important;
    min-width: 1px;
    max-width: 100%;
  }

  .fieldset-wrapper > .layout-paragraphs-add-content__toggle,
  .layout-paragraphs-item > .layout-paragraphs-add-content__toggle {
    margin-top: 1;
    border: 4px solid #5d749c88;
    transform: translateY(-50%);
    &:hover {
      border-color: #495b7a;
    }
  }

  .layout-paragraphs-layout-region > .layout-paragraphs-item > .layout-paragraphs-add-content__toggle {
    border: 4px solid #ffa00e88;
    &:hover {
      border-color: #d9880c;
    }
  }

  // Force the inline labels to be flex.
  .field--label-inline {
    display: flex;
    margin-bottom: .5em;

    .field__label {
      display: inline-block;
      font-weight: bold;
      margin-right: 1em;
      color: #999999;
      width: fit-content;
      white-space: nowrap;
      vertical-align: top;
    }

    // Adjust the `field__item` to display better.
    .field__item {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;

      *:first-child {
        margin-top: 0;
      }
    }
  }

  // The dialog when selecting a layout.
  [role='dialog'] {
    top: 50% !important;
    left: 50% !important;
    width: 1024px !important;
    transform: translate(-50%, -50%);
  }
}
