.field--widget-layout-paragraphs {
  // Force the inline labels to be flex.
  .field--label-inline {
    display: flex;
    margin-bottom: .5em;

    .field__label {
      font-weight: bold;
      margin-right: 1em;
      color: #999999;
      width: fit-content;
      white-space: nowrap;
    }
  }
}
