// Update styling to show the layout regions in a grid.
.layout {
  --grid-gap: 10px;

  &--two-column > .layout__regions,
  &--two-column > .layout__content .layout__regions,

  &--three-column > .layout__regions,
  &--three-column > .layout__content .layout__regions,

  &--four-column > .layout__regions,
  &--four-column > .layout__content .layout__regions {
    display: grid;
    gap: var(--grid-gap);
  }

  &--two-column {
    &.layout--50-50 {
      > .layout__regions,
      > .layout__content > .layout__regions {
        grid-template-columns: calc(50% - #{ var(--grid-gap) } / 2) calc(50% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--25-75 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns: calc(25% - #{ var(--grid-gap) } / 2) calc(75% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--75-25 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns: calc(75% - #{ var(--grid-gap) } / 2) calc(25% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--40-60 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns: calc(40% - #{ var(--grid-gap) } / 2) calc(60% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--60-40 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns: calc(60% - #{ var(--grid-gap) } / 2) calc(40% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--30-70 {
      > .layout__regions,
      > .layout__content > .layout__regions {
        grid-template-columns: calc(30% - #{ var(--grid-gap) } / 2) calc(70% - #{ var(--grid-gap) } / 2);
      }
    }

    &.layout--70-30 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns: calc(70% - #{ var(--grid-gap) } / 2) calc(30% - #{ var(--grid-gap) } / 2);
      }
    }
  }

  &--three-column {
    &.layout--33-33-33 {
      > .layout__regions,
      > .layout__content > .layout__regions {
        grid-template-columns: repeat(3, calc(33.33% - #{ var(--grid-gap) } / 2));
      }
    }

    &.layout--25-50-25 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns:
          calc(25% - #{ var(--grid-gap) } / 2)
          calc(50% - #{ var(--grid-gap) } / 2)
          calc(25% - #{ var(--grid-gap) } / 2)
      }
    }

    &.layout--50-25-25 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns:
          calc(50% - #{ var(--grid-gap) } / 2)
          calc(25% - #{ var(--grid-gap) } / 2)
          calc(25% - #{ var(--grid-gap) } / 2)
      }
    }

    &.layout--25-25-50 {
    > .layout__regions,
    > .layout__content > .layout__regions {
        grid-template-columns:
          calc(25% - #{ var(--grid-gap) } / 2)
          calc(25% - #{ var(--grid-gap) } / 2)
          calc(50% - #{ var(--grid-gap) } / 2)
      }
    }
  }

  &--four-column {
    > .layout__regions,
    > .layout__content > .layout__regions {
      grid-template-columns: repeat(4, calc(25% - #{ var(--grid-gap) } / 2));
    }
  }
}
