/// Update styling for the edit and remove buttons.
.layout-paragraphs-actions {
  .layout-paragraphs-field & {
    input {
      &.layout-paragraphs-edit,
      &.layout-paragraphs-remove {
        text-indent: 17px;
        background-size: contain;
      }

      &.layout-paragraphs-edit {
        min-width: 63px;
      }

      &.layout-paragraphs-remove {
        text-indent: 17px;
        background-size: contain;
        min-width: 83px;
      }
    }
  }
}
