.layout-paragraphs-layout {
  border: 1px solid #5d749c;

  &:hover {
    border-color: #495b7a;
  }

  > .paragraph-layout-label,
  > .paragraph-layout--label,
  > .paragraph-type--label {
    @include font-awesome-icon($fa-var-th-large, 'regular', 'before');

    color: white;
    background-color: #5d749c;
    border: none;
    padding: .1em 1em;
    right: unset;
    bottom: unset;
    top: 0;
    left: 50%;
    font-style: normal;
    font-size: 83%;
    transform: translateX(-50%);

    &:hover {
      font-style: italic;
    }
  }
}
