/// Update styling for layouts and their region/items.

.layout-paragraphs-item {
  // Common across layout and item labels
  label {
    color: #ffffff;
    border: none;
    padding: .1em 1em;
    right: unset;
    bottom: unset;
    top: 0;
    left: 50%;
    font-style: normal;
    font-size: 83%;
    transform: translateX(-50%);
    display: block;
  }

  // Put some extra space between items.
  + .layout-paragraphs-item {
    margin-top: 20px;
  }

  // Common across layout and item "add" buttons.
  .layout-paragraphs-add-content__toggle {
    transform: translateY(-50%);
  }

  /// **************************************************
  /// Layouts

  &.layout-paragraphs-layout {
    border-color: #5d749c !important;
    padding-top: 42px;

    .paragraph-layout--label {
      @include font-awesome-icon($fa-var-th-large, 'regular', 'before');

      background-color: #5d749c;
    }

    &:hover {
      border-color: #495b7a;

      .paragraph-layout--label {
        background-color: #495b7a;
      }
    }

    .layout-paragraphs-add-content__toggle {
      border: 4px solid #5d749c88;

      &:hover {
        border-color: #495b7a;
      }
    }
  }

  /// **************************************************
  // Items, not layouts.

  &:not(.layout-paragraphs-layout) {
    .layout-paragraphs-layout-region & {
      .layout-paragraphs-field & {
        border-color: #ffa00e;
      }

      &:hover {
        border-color: #d9880c;

        .paragraph-type--label {
          background-color: #d9880c;
        }
      }

      .paragraph-type--label {
        @include font-awesome-icon($fa-var-cube, 'regular', 'before');

        background-color: #ffa00e;
      }

      .layout-paragraphs-add-content__toggle {
        border: 4px solid #ffa00e88;
        z-index: 20;

        &:hover {
          border-color: #d9880c;
        }
      }
    }
  }

  .layout-paragraphs-disabled-items & {
    .layout-paragraphs-field & {

      border-color: #ccc;
    }
    label {
      background-color: #ccc;
    }

    .layout-paragraphs-add-content__toggle {
      display: none;
    }
  }
}
