// Update styling when adding or editing a layout.
.layout-paragraphs-dialog {
  width: 1024px !important;
  transform: translate(-50%, -50%);

  // Update styling for the layout configuration options.
  #layout-config {
    .details-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      *:last-child {
        grid-column: 1 / -1;
      }
    }
  }

  // Update styling the layout selection.
  .layout-paragraphs-layout-select {
    .layout-select {
      align-items: stretch;
      gap: 20px;

      &__item-icon {
        margin-right: 0;
      }

      &__item {
        padding-left: 0;
        width: fit-content;
        margin: 0;

        label.option {
          outline: none;
          display: inline-flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
