.lpb-dialog {
  .layout-select__item {
    label.option {
      outline: none;
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin: 0;
      align-items: center;

      .layout-select__item-icon {
        margin: 0;
      }
    }

    padding-left: 0;
  }

  #layout-paragraphs-layout-options {
    .details-wrapper > [data-drupal-selector="edit-layout-paragraphs-config-layout"] {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
